form{
  margin-top: 50px;
}
.btn-danger{
  margin-top: 30px;
}
pre{
  border: 3px solid #0069D9;
  border-radius: 10px;
  padding: 10px;
  background: #e1e6ea;
}
label::after{
  content: '*';
  color: red;
}
small{
  color: red;
}
.result-clean{
  margin-top: 20px;
}
